{% extends 'base.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
<div class="main-container">
    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <div class="pull-left">
                <h3 class="text-blue h4">View TYBAMMC_J Forms</h3>
                <br>
            </div>
        </div>
    <div class="pb-20">
        <table class="checkbox-datatable table nowrap stripe">
            <thead>
                <tr>
                    <th></th>
                <th class="table-plus datatable-nosort">Form ID</th>
                <th>Student Name</th>
                <th>Course Code</th>
                <th class="datatable-nosort">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for filled_form in filled_forms %}
                <tr>
                    <td></td>
                  <td>{{ filled_form.id }}</td>
                  <td>{{ filled_form.personal_detail.first_name }} {{ filled_form.personal_detail.middle_name }} {{ filled_form.personal_detail.last_name }}</td>
                  <td>{{ filled_form.subjects_choosen.course.course_code }}</td>
                  <td><a type="button" class="btn btn-primary btn-lg" href="print_form/{{filled_form.id}}/{{filled_form.subjects_choosen.course.course_code}}">Print</a></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    </div>
{% endblock main_content %}
