{% extends 'base.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-30">
                <div class="card-box d-block mx-auto pd-20 text-secondary" style="border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    <div class="content" style="padding: 20px;">
                        <h3 class="h4" style="font-weight: bold; margin-bottom: 20px;">Bachelor of Management Studies (B.M.S.) Program Overview</h3>
                        <div class="card-body">
                            <div class="col-sm-12">
                                <i class="bi bi-journal-code" style="font-size: 24px; margin-right: 10px; vertical-align: middle;"></i>
                                <p class="max-width-450" style="margin-bottom: 15px;">The B.M.S. program is a 3-year undergraduate degree affiliated with the University of Mumbai, offering comprehensive knowledge in management principles and practices.</p>
                                            
                                <i class="bi bi-people" style="font-size: 24px; margin-right: 10px; vertical-align: middle;"></i>
                                <p class="max-width-450" style="margin-bottom: 15px;">Renowned industry leaders are invited as guest lecturers, providing valuable insights and sharing their experiences with our students, bridging the gap between academia and the corporate world.</p>
                                            
                                <i class="bi bi-award" style="font-size: 24px; margin-right: 10px; vertical-align: middle;"></i>
                                <p class="max-width-450" style="margin-bottom: 15px;">Our faculty members are accomplished academics actively involved in research or possess extensive industry experience. This ensures a unique blend of emerging ideas and practical knowledge for our students.</p>
                                <div style="text-align: center;">
                                    <a type="button" class="btn btn-primary btn-lg" href="/bms_home">Apply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-12 col-md-6 mb-30">
                <div class="card-box d-block mx-auto pd-20 text-secondary" style="border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    <div class="content" style="padding: 20px;">
                        <h3 class="h4" style="font-weight: bold; margin-bottom: 20px;">BA in Multimedia and Mass Communication (BAMMC) Programme Overview</h3>
                        <div class="card-body">
                            <div class="col-sm-12">
                                <i class="bi bi-journal-code" style="font-size: 24px; margin-right: 10px; vertical-align: middle;"></i>
                                <p class="max-width-450" style="margin-bottom: 15px;">The BAMMC programme is a three-year undergraduate degree affiliated with the University of Mumbai, providing a comprehensive understanding of multimedia and mass communication.</p>
                                            
                                <i class="bi bi-people" style="font-size: 24px; margin-right: 10px; vertical-align: middle;"></i>
                                <p class="max-width-450" style="margin-bottom: 15px;">Industry leaders are invited for guest lectures, sharing their insights and experiences with our students, offering valuable industry exposure.</p>
                                            
                                <i class="bi bi-award" style="font-size: 24px; margin-right: 10px; vertical-align: middle;"></i>
                                <p class="max-width-450" style="margin-bottom: 15px;">You'll be taught by academics who are actively engaged in media research or possess extensive media industry experience, ensuring a unique blend of emergent ideas and real-world knowledge.</p>
                                <div style="text-align: center;">
                                    <button type="button" class="btn btn-primary btn-lg">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            

        </div>
    </div>

<div class="mobile-menu-overlay"></div>

{% endblock main_content %}