{% extends 'base.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
<div class="main-container">
    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <div class="pull-left">
                <h3 class="text-blue h4">Download Documents</h3>
                <br>
            </div>
        </div>
        <div class="pb-20">
            <div class="form-group">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <table class="checkbox-datatable table nowrap stripe ">
                <thead>
                    <tr>
                        <th></th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        {% for document_type in document_types %}
                        <th>{{ document_type }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for personal_detail in personal_details %}
                        <tr>
                            <td>{{ personal_detail.id }}</td>
                            <td>{{ personal_detail.first_name }}</td>
                            <td>{{ personal_detail.middle_name }}</td>
                            <td>{{ personal_detail.last_name }}</td>
                            {% for document_type in document_types %}
                                <td>
                                    <form method="post" action="/document_save">
                                        {% csrf_token %}
                                        <input type="hidden" name="personal_detail_id" value="{{ personal_detail.id }}">
                                        <input type="hidden" name="document_type" value="{{ document_type }}">
                                        <button class="btn btn-primary" type="submit">Download {{ document_type }}</button>
                                    </form>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}

