{% extends 'base.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
<div class="main-container">
    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <div class="pull-left">
                <h3 class="text-blue h4">Download Documents</h3>
                <br>
            </div>
        </div>
    <div class="pb-20">
        <div class="form-group">
            {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        <form method="post" action="/document_save">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Document Table ID</label>
                <div class="col-sm-12 col-md-10">
                    <input type="text" class="form-control" name="row_id" placeholder="Document Collection ID">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Choose Document</label>
                <div class="col-sm-12 col-md-10">
                    <select name="field_name" class="form-control">
                        {% for field_name in field_names %}
                          <option value="{{ field_name }}" >{{ field_name }}</option>
                        {% endfor %}
                      </select>
                </div>
            </div>
           
            <button class="form-control"type="submit">Download File</button>
          </form>
    </div>
    </div>
    </div>
{% endblock main_content %}
