{% load static %}
<div class="left-side-bar" style="background: #ffff;">
    <div class="sidebar-menu">
        <ul id="accordion-menu">
            <div class="brand-logo">
                <a href="/home">
                    <img src="{% static "vendors/images/college-logo.png" %}" alt=""/>
                </a>
                <div class="close-sidebar" data-toggle="left-sidebar-close">
                    <i class="ion-close-round"></i>
                </div>
            </div>
            <li class="dropdown">
                <a href="/home" class="dropdown-toggle no-arrow">
                    <span class="micon bi bi-house"></span>
                    <span class="mtext">Home</span>
                </a>
            </li>
            {% if not user.is_superuser %}
            <li class="dropdown">
                <a href="/view_submitted_forms" class="dropdown-toggle no-arrow">
                    <span class="micon bi bi-clipboard-check-fill"></span>
                    <span class="mtext">Submitted Forms </span>
                </a>
            </li>
            {% else %}
            <li class="dropdown">
                <a href="/view_document" class="dropdown-toggle no-arrow">
                    <span class="micon bi bi-clipboard-check-fill"></span>
                    <span class="mtext">View Documents</span>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle">
                    <span class="micon bi bi-clipboard-check-fill"></span>
                    <span class="mtext">All Form Data</span>
                </a>
                <ul class="submenu">
                    <li><a href="/fybms_data">FYBMS Data</a></li>
                    <li><a href="/sybms_m_data">SYBMS_M Data</a></li>
                    <li><a href="/sybms_hr_data">SYBMS_HR Data</a></li>
                    <li><a href="/tybms_m_data">TYBMS_M Data</a></li>
                    <li><a href="/tybms_hr_data">TYBMS_HR Data</a></li>
                    <li><a href="/fybammc_data">FYBAMMC Data</a></li>
                    <li><a href="/sybammc_data">SYBAMMC Data</a></li>
                    <li><a href="/tybammc_j_data">TYBAMMC_J Data</a></li>
                    <li><a href="/tybammc_advert_data">TYBAMMC_A Data</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle">
                    <span class="micon bi bi-clipboard-check-fill"></span>
                    <span class="mtext">Marksheet Data</span>
                </a>
                <ul class="submenu">
                    <li><a href="/view_ssc_details">SSC Marksheet Data</a></li>
                    <li><a href="/view_hsc_details">HSC Marksheet Data</a></li>
                    <li><a href="/view_fy_sem1_details">FY Sem I Data</a></li>
                    <li><a href="/view_fy_sem2_details">FY Sem II Data</a></li>
                    <li><a href="/view_sy_sem1_details">SY Sem I Data</a></li>
                    <li><a href="/view_sy_sem2_details">SY Sem II Data</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle">
                    <span class="micon bi bi-clipboard-check-fill"></span>
                    <span class="mtext">Academic Year</span>
                </a>
                <ul class="submenu">
                    <li><a href="/add_session">Add Session</a></li>
                    <li><a href="/view_session">View Sessions</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
