{% extends 'base.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
<div class="main-container">
    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <div class="pull-left">
                <h3 class="text-blue h4">FY Sem-I Marksheet Data</h3>
                <br>
            </div>
        </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap ">
            <thead>
                <tr>
                <th>ID</th>
                <th>University Name</th>
                <th>School Name</th>
                <th>Medium</th>
                <th>Seat Number</th>
                <th>Marksheet Number</th>
                <th>Marks Obtained</th>
                <th>Marks Out Of</th>
                <th>CGPA</th>
                <th>Account ID</th>
                <th>Academic Year</th>
                </tr>
            </thead>
            <tbody>
                {% for sem1 in sem1_details %}
                <tr>
                  <td>{{ sem1.id }}</td>
                  <td>{{ sem1.university_name }}</td>
                  <td>{{ sem1.school_name }}</td>
                  <td>{{ sem1.medium }}</td>
                  <td>{{ sem1.seat_number }}</td>
                  <td>{{ sem1.marksheet_number }}</td>
                  <td>{{ sem1.marks_obtained }}</td>
                  <td>{{ sem1.marks_out_of }}</td>
                  <td>{{ sem1.cgpa }}</td>
                  <td>{{ sem1.account_id }}</td>
                  <td>{{ sem1.academic_id}}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    </div>
{% endblock main_content %}
